#section-studio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--headline-color);
}

.studio-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.studio-text {
    flex: 1;
    text-align: left;
    padding-right: 4rem;
    max-height: 450px; /* Hauteur maximale */
    overflow-y: auto; /* Ajoute un scroll si nécessaire */
    scrollbar-width: thin; /* Pour Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent; /* Pour Firefox */
}

/* Style de la scrollbar pour Chrome/Safari */
.studio-text::-webkit-scrollbar {
    width: 6px;
}

.studio-text::-webkit-scrollbar-track {
    background: transparent;
}

.studio-text::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

.studio-text h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--headline-color);
    font-weight: bold;
}

.studio-text p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--text-color);
    opacity: 0.9;
}

.studio-text p:last-child {
    margin-bottom: 0;
}

p {
    width: 600px;
}

.studio-video-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.studio-video {
    width: 110%;
    max-width: 660px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform 0.5s ease-out;
}

/* Media Query for mobile responsiveness */
@media screen and (max-width: 768px) {
    .studio-content {
        flex-direction: column;
        padding: 20px;
    }

    .studio-text {
        margin-bottom: 20px;
        text-align: center;
    }

    .studio-video {
        max-width: 100%;
    }
}